<aside class="sidebar">
  <ul class="messages-list">
    <li class="message-item">
      <div class="message-info">
        <div class="image-container">
          <span class="notification-badge">9</span>
          <img src="/assets/imgs/2.png" alt="Contact Image" />
        </div>
        <div class="message-text">
          <h4>01003876593</h4>
          <span>Campaign 2 / Campaign 3</span>
          <p>consectetuer adipiscing elit, gggsvn</p>
        </div>
      </div>
      <span class="time">2:30 PM</span>
    </li>
    <li class="message-item">
      <div class="message-info">
        <div class="image-container">
          <span class="notification-badge">2</span>
          <img src="/assets/imgs/3.png" alt="Contact Image" />
        </div>
        <div class="message-text">
          <h4>01003876593</h4>
          <span>Campaign 2 / Campaign 3</span>
          <p>consectetuer adipiscing elit, gggsvn</p>
        </div>
      </div>
      <span class="time">2:30 PM</span>
    </li>
    <li class="message-item">
      <div class="message-info">
        <div class="image-container">
          <span class="notification-badge">3</span>
          <img src="/assets/imgs/4.png" alt="Contact Image" />
        </div>
        <div class="message-text">
          <h4>01003876593</h4>
          <span>Campaign 2 / Campaign 3</span>
          <p>consectetuer adipiscing elit, gggsvn</p>
        </div>
      </div>
      <span class="time">2:30 PM</span>
    </li>
    <li class="message-item">
      <div class="message-info">
        <div class="image-container">
          <span class="notification-badge">4</span>
          <img src="/assets/imgs/5.png" alt="Contact Image" />
        </div>
        <div class="message-text">
          <h4>01003876593</h4>
          <span>Campaign 2 / Campaign 3</span>
          <p>consectetuer adipiscing elit, gggsvn</p>
        </div>
      </div>
      <span class="time">2:30 PM</span>
    </li>
    <li class="message-item">
      <div class="message-info">
        <div class="image-container">
          <span class="notification-badge">5</span>
          <img src="/assets/imgs/6.png" alt="Contact Image" />
        </div>
        <div class="message-text">
          <h4>01003876593</h4>
          <span>Campaign 2 / Campaign 3</span>
          <p>consectetuer adipiscing elit, gggsvn</p>
        </div>
      </div>
      <span class="time">2:30 PM</span>
    </li>
    <li class="message-item">
      <div class="message-info">
        <div class="image-container">
          <span class="notification-badge">1</span>
          <img src="/assets/imgs/2.png" alt="Contact Image" />
        </div>
        <div class="message-text">
          <h4>01003876593</h4>
          <span>Campaign 2 / Campaign 3</span>
          <p>consectetuer adipiscing elit, gggsvn</p>
        </div>
      </div>
      <span class="time">2:30 PM</span>
    </li>
    <li class="message-item">
      <div class="message-info">
        <div class="image-container">
          <span class="notification-badge">1</span>
          <img src="/assets/imgs/3.png" alt="Contact Image" />
        </div>
        <div class="message-text">
          <h4>01003876593</h4>
          <span>Campaign 2 / Campaign 3</span>
          <p>consectetuer adipiscing elit, gggsvn</p>
        </div>
      </div>
      <span class="time">2:30 PM</span>
    </li>
  </ul>
</aside>
