<div class="header-left">
  <div class="user-info">
    <img src="/assets/imgs/1.png" alt="User Image" />
    <span class="name">Mohamed <span class="role"> Admin </span></span>
  </div>
  <div class="icons">
    <div class="search-header" *ngIf="isSearchable">
      <div class="search-container">
        <mat-icon class="search">search</mat-icon>
        <input type="text" placeholder="Search" />
      </div>
    </div>
    <div class="icon" *ngIf="!isSearchable">
      <mat-icon class="search" (click)="onSearch()">search</mat-icon>
    </div>
    <div class="icon">
      <mat-icon class="delete">delete</mat-icon>
    </div>
  </div>
  <nav class="nav-tabs">
    <a
    [routerLink]="['/chat/whatsapp']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <div class="icon-container">
      <span class="notification-badge">2</span>
      <img
        *ngIf="currentRoute === '/chat/whatsapp'; else inactiveImageWhatsApp"
        src="/assets/imgs/whatsapp.svg"
      />
      <ng-template #inactiveImageWhatsApp>
        <img src="/assets/imgs/whatsapp-unactive.svg" />
      </ng-template>
    </div>
    WhatsApp
  </a>

    <a
      [routerLink]="['/chat/sms']"
      [class.active]="currentRoute === '/chat/sms'"
    >
      <div class="icon-container">
        <span class="notification-badge">1</span>
        <img
          *ngIf="currentRoute === '/chat/sms'; else inactiveImageSms"
          src="/assets/imgs/sms.png"
        />
        <ng-template #inactiveImageSms>
          <img src="/assets/imgs/sms-unactive.svg" />
        </ng-template>
      </div>
      SMS
    </a>

    <a
      [routerLink]="['/chat/instagram']"
      [class.active]="currentRoute === '/chat/instagram'"
    >
      <div class="icon-container">
        <span class="notification-badge">3</span>
        <img
          *ngIf="
            currentRoute === '/chat/instagram';
            else inactiveImageInstagram
          "
          src="/assets/imgs/instagram.png"
        />
        <ng-template #inactiveImageInstagram>
          <img src="/assets/imgs/instagram-unactive.svg" />
        </ng-template>
      </div>
      Instagram
    </a>

    <a
      [routerLink]="['/chat/messenger']"
      [class.active]="currentRoute === '/chat/messenger'"
    >
      <div class="icon-container">
        <span class="notification-badge">5</span>
        <img
          *ngIf="
            currentRoute === '/chat/messenger';
            else inactiveImageMessenger
          "
          src="/assets/imgs/messenger.png"
        />
        <ng-template #inactiveImageMessenger>
          <img src="/assets/imgs/messenger-unactive.svg" />
        </ng-template>
      </div>
      Messenger
    </a>
  </nav>
</div>
