<div class="header">
  <div class="user-info">
    <img src="/assets/imgs/6.png" alt="User Image" />
    <div class="user-text">
      <h4>01003876593</h4>
      <span>Campaign 2 / Campaign 3</span>
    </div>
  </div>
  <div class="search-container">
    <div class="search-header">
      <div class="search-container">
        <mat-icon class="search">search</mat-icon>
        <input type="text" placeholder="Search" />
      </div>
    </div>
    <div class="notification-icon">
      <img src="/assets/imgs/edit.svg" alt="Edit Image" />
      <span class="notification-count">1</span>
    </div>
  </div>
</div>
