:host {
  display: block;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #e1dcff;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;

  .user-info {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    .user-text {
      h4 {
        margin: 0;
        color: #090037;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
      }

      span {
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        text-align: left;
        color: #757575;
      }
    }
  }

  .search-container {
    display: flex;
    align-items: center;
    position: relative;

    .search-header {
      padding: 3px;
      background-color: #f0f0f0;
      border-radius: 5px;

      .search-container {
        display: flex;
        align-items: center;
        background-color: #f0f0f0;

        input {
          flex: 1;
          padding: 5px;
          border: none;
          background-color: #f0f0f0;
        }

        .search-icon {
          margin-left: 5px;
        }
      }
    }
    .notification-icon {
      display: flex;
      align-items: center;
      margin-left: 10px;
      position: relative;

      img {
        width: 24px;
      }

      .notification-count {
        position: absolute;
        top: -10px;
        right: -4px;
        background-color: #000080;
        color: #fff;
        border-radius: 50%;
        padding: 2px 5px;
        font-size: 12px;
      }
    }
  }
}
