<div class="chat-container">
  <section class="chat-section">
    <app-chat-header-right></app-chat-header-right>
    <div class="chat-messages">
      <div class="message">
        <div class="campaign-label">
          <img src="/assets/imgs/Line.svg" alt="line" />
          Campaign 2
          <img src="/assets/imgs/Line.svg" alt="line" />
        </div>
        <div class="message-content message-content-right">
          <div>
            <span class="message-title">Campaign 2</span>
            <p class="right-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit...
            </p>
            <div class="d-flex align-items-center justify-content-between">
              <span class="sms-color">
                <img src="/assets/imgs/smsicon.svg" alt="sms" />
                SMS
              </span>
              <span class="message-time">1:30 AM</span>
            </div>
          </div>
          <div class="mx-3">
            <span class="message-date d-block mb-2">14/04/2023</span>
            <img src="/assets/imgs/2.png" alt="User Image" />
          </div>
        </div>
      </div>

      <div class="message">
        <div class="campaign-label">
          <img src="/assets/imgs/Line.svg" alt="line" />
          Campaign 2
          <img src="/assets/imgs/Line.svg" alt="line" />
        </div>
        <div class="message-content">
          <div class="mx-3">
            <span class="message-date d-block mb-2">14/04/2023</span>
            <img src="/assets/imgs/3.png" alt="User Image" />
          </div>
          <div>
            <span class="message-title">Campaign 2</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <div class="d-flex align-items-center justify-content-between">
              <span class="message-time">1:30 AM</span>
              <span class="sms-color">
                <img src="/assets/imgs/smsicon.svg" alt="sms" />
                SMS
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="message">
        <div class="campaign-label">
          <img src="/assets/imgs/Line.svg" alt="line" />
          Campaign 2
          <img src="/assets/imgs/Line.svg" alt="line" />
        </div>
        <div class="message-content message-content-right">
          <div>
            <span class="message-title">Campaign 2</span>
            <p class="right-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit...
            </p>
            <div class="d-flex align-items-center justify-content-between">
              <span class="sms-color">
                <img src="/assets/imgs/whatsapp.svg" alt="sms" />
                whatsapp
              </span>
              <span class="message-time">1:30 AM</span>
            </div>
          </div>
          <div class="mx-3">
            <span class="message-date d-block mb-2">14/04/2023</span>
            <img src="/assets/imgs/4.png" alt="User Image" />
          </div>
        </div>
      </div>

      <div class="message">
        <div class="campaign-label">
          <img src="/assets/imgs/Line.svg" alt="line" />
          Campaign 2
          <img src="/assets/imgs/Line.svg" alt="line" />
        </div>
        <div class="message-content">
          <div class="mx-3">
            <span class="message-date d-block mb-2">14/04/2023</span>
            <img src="/assets/imgs/5.png" alt="User Image" />
          </div>
          <div>
            <span class="message-title">Campaign 2</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <div class="d-flex align-items-center justify-content-between">
              <span class="message-time">1:30 AM</span>
              <span class="sms-color">
                <img src="/assets/imgs/smsicon.svg" alt="sms" />
                SMS
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="chat-footer">
      <div class="message-input-container">
        <input type="text" placeholder="Type a message..." />
        <div class="d-flex align-items-center justify-content-between">
          <div class="message-actions">
            <button class="action-button">
              <img src="/assets/imgs/attachment.svg" alt="Attach" />
            </button>
            <button class="action-button">
              <img src="/assets/imgs/image.svg" alt="Image" />
            </button>
            <button class="action-button">
              <img src="/assets/imgs/smile.svg" alt="Smile" />
            </button>
          </div>
          <button class="send-button">Send</button>
        </div>
      </div>
      <div class="footer-tabs">
        <a class="footer-tab active" href="#">Reply</a>
        <a class="footer-tab" href="#">Private Note</a>
      </div>
    </footer>
  </section>
</div>
