@import 'abstracts';
.error {
  color: color('red');
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 80%;
  }
}
