.app-container-fluid {
  @extend .container-fluid;
  padding: 0 var(--cf-p);
}

.app-container {
  @extend .container-fluid;
  padding: 0 var(--c-p);
}

body {
  background-color: color('white');
  user-select: none;
  height: 100%;
  max-width: 100%;
}

html {
  height: 100%;
  max-width: 100vw;
}

:root {
  --app-fs-xs: 70%;
  --app-fs-sm: 70%;
  --app-fs-md: 75%;
  --app-fs-lg: 80%;
  --app-fs-xl: 90%;
  --app-fs-xxl: 100%;
}

html {
  font-size: var(--app-fs-xs); // smallest screen below sm to 0
  @include media-breakpoint-up(sm) {
    font-size: var(--app-fs-sm);
  }
  @include media-breakpoint-up(md) {
    font-size: var(--app-fs-md);
  }
  @include media-breakpoint-up(lg) {
    font-size: var(--app-fs-lg);
  }
  @include media-breakpoint-up(xl) {
    font-size: var(--app-fs-xl);
  }
  @include media-breakpoint-up(xxl) {
    font-size: var(--app-fs-xxl);
  }
}

h1 {
  @include font('headline', 57px, $fw-bold);
  color: color('primary');
  text-transform: uppercase;
}

h2 {
  @include font('headline', 30px, $fw-bold);
  color: color('primary');
  text-transform: uppercase;
}

h3 {
  @include font('title', 20px);
  color: color('primary');
  text-transform: uppercase;
}

h4 {
  @include font('title', 16px, $fw-regular);
  // color: color('primary');
  text-transform: uppercase;
}

p,
span {
  @include font('body', 14px);
  color: color('white');
}

p {
  @include font('body', 14px);
  @include media-breakpoint-up(md) {
    @include font('body', 14px);
  }
}

.pointer {
  cursor: pointer;
}

:root {
  --bs-body-bg: #{color('white')};
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: color('white');
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

html,
body {
  height: 100%;
}

*,
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: color('secondary');
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: color('primary');
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: darken(color('primary'), 5%);
}

.rtl {
  direction: rtl;
}
