.p-inputnumber {
  width: 100%;
}
.p-inputtext:enabled:hover,
.p-dropdown:not(.p-disabled):hover,
.p-multiselect:not(.p-disabled):hover,
.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover,
.p-checkbox .p-checkbox-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: color('lightgrey');
}

.p-inputtext:enabled:focus {
  box-shadow: none;
  border-color: color('primary');
}

.p-inputtext {
  @include font('headline', 16px, $fw-medium);
  color: color('grey');
  border: 1px solid #d1d5db;
}

.p-inputtext.ng-dirty.ng-invalid {
  border-color: color('red');
}

.p-checkbox .p-checkbox-box.p-highlight,
.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: color('primary');
  background-color: color('primary');
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus,
.p-radiobutton:not(.p-radiobutton-disabled) .p-radiobutton-box.p-focus {
  box-shadow: none;
  border-color: color('primary');
}

.p-calendar,
.p-multiselect,
.p-dropdown {
  width: 100%;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
  border-color: color('primary');
}

.p-dropdown {
  .p-inputtext:enabled:hover {
    border-color: color('lightgrey');
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background-color: color('lightgrey');
    color: color('grey')
  }

 

  .p-inputtext {
    @include font('headline', 16px, $fw-medium);
    color: color('grey');
    border: none;
  }

  .p-inputtext.ng-dirty.ng-invalid {
    border-color: color('red');
  }
}

.p-multiselect .p-multiselect-label {
  @include font('headline', 16px, $fw-medium);
  color: color('grey');
}
