@use 'sass:map';
@import '../abstracts/functions';

$_fonts: (
  'display-en': '"Poppins", serif',
  'display-ar': '"Poppins", sans-serif',

  'headline-en': '"Poppins", sans-serif',
  'headline-ar': '"Poppins", sans-serif',

  'title-en': '"Poppins", sans-serif',
  'title-ar': '"Poppins", sans-serif',

  'body-en': '"Poppins", sans-serif',
  'body-ar': '"Poppins", sans-serif',

  'label-en': '"Poppins", sans-serif',
  'label-ar': '"Poppins", sans-serif',

  'placeholder-en': '"Poppins", sans-serif',
  'placeholder-ar': '"Poppins", sans-serif',
);

// Those variables are calculated and added in app.component based on current language
$fonts: (
  'display': var(--font-display),
  'headline': var(--font-headline),
  'title': var(--font-title),
  'body': var(--font-body),
  'label': var(--font-label),
  'placeholder': var(--font-placeholder),
);

// -------------------------------




// Define other fonts similarly

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;

@function font($font) {
  @if not map.has-key($fonts, $font) {
    @error ('Font #{$font} Not Found!! ');
  }

  @return map.get($fonts, $font);
}

@mixin font($font, $size, $weight: $fw-regular, $important: false) {
  @if $important ==false {
    font-family: font($font);
  }

  @if $important ==true {
    font-family: font($font) !important;
  }

  font-size: #{toRem($size)};
  font-weight: $weight;
}

// The underscore as the name clash with Bootstrap font-sizes map
$_font-sizes: (
);

@for $i from 12 through 50 {
  $_font-sizes: map.set($_font-sizes, '#{$i}', toRem($i));
}

@function fs($size) {
  @if not map.has-key($_font-sizes, $size) {
    @error ('Size #{$size} Not Found!! ');
  }

  @return map.get($_font-sizes, $size);
}