@import 'abstracts/colors';
@import 'abstracts/mixins';
@import 'abstracts/typography';

:host {
  display: block;
  width: 100vw;
}

.header {
  width: 100vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 4px 4px 0px rgba(180, 180, 180, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;

  &--relative {
    position: relative;
    visibility: hidden;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    position: relative;
    // box-shadow: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  background-color: color('white');

  &__logo {
    cursor: pointer;
    width: 15rem;

    @include media-breakpoint-up(md) {
      width: 55vw;
    }
  }

  &__navs {
    display: flex;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }
  }

  &__nav-link {
    color: color('secondary');
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include font('title', 16px);
    text-transform: uppercase;
    transition: all 0.4s;

    &:hover,
    &--active,
    &--contact {
      color: color('white');
    }
  }
}