<div class="header app-container-fluid" #headerRef setRtl>
  <div class="d-flex justify-content-between  align-items-center">
    <div class="header__logo" routerLink="/home">
      <img src="../../../../assets/imgs/icons/logo.png" alt="logo img" />
    </div>
    @if (largeScreen$ | async) {
    <ul class="header__navs">
      @for (nav of navs; track nav.name; let i = $index) {
      <li class="header__nav-item">
        <a [class]="'header__nav-link' + ' ' + (nav.className || '')" [routerLink]="nav.url"
          routerLinkActive="header__nav-link--active">
          {{ nav.name | translate }}
        </a>
      </li>
      }
    </ul>
    <ul class="header__navs">
      <li class="header__nav-item" routerLink="/">
        <app-button [buttonTitle]="'Book Demo'"></app-button>
      </li>
      <li class="header__nav-item ">
        <a target="_blank" href="https://staging.cloudcom.me/login">
          <app-button [buttonTitle]="'LogIn'" [isPrimary]="true"></app-button>
        </a>
      </li>
    </ul>
    } @else {
    <!-- <app-menu [navs]="navs"></app-menu> -->
    <ul class="header__navs">
      <li class="header__nav-item ">
        <app-button [buttonTitle]="'Book Demo'"></app-button>
      </li>
      <li class="header__nav-item">
        <a target="_blank" href="https://staging.cloudcom.me/login">
          <app-button [buttonTitle]="'LogIn'" [isPrimary]="true"></app-button>
        </a>
      </li>
    </ul>
    }
  </div>
</div>