@import 'abstracts/colors';
@import 'abstracts/mixins';
@import 'abstracts/typography';
@import 'abstracts';

:host {
  display: block;
  width: 100vw;
}

.header {
  width: 100vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 4px 4px 0px rgba(180, 180, 180, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;

  &--relative {
    position: relative;
    visibility: hidden;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  background-color: color('white');

  &__logo {
    cursor: pointer;
    width: 13rem;

    @include media-breakpoint-up(md) {
      width: 10vw;
    }
  }

  &__navs {
    display: flex;
    align-items: center;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }
  }

  &__nav-link {
    color: color('lightBlue');
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include font('display', 16px, $fw-regular);
    text-transform: capitalize;
    transition: all 0.4s;
    position: relative;
    text-wrap: nowrap;

    &::after {
      content: '';
      position: absolute;
      bottom: 0; // Position the line at the bottom of the link
      left: 0;
      width: 0; // Start with a width of 0
      height: 2px; // Set the height of the line
      background-color: color('primary'); // Set the color of the line
      transition: width 0.4s ease; // Animate the width change
    }

    &:hover::after {
      width: 70%; // Expand the width to full on hover
      padding-left: 0.2rem;
    }

    &:hover,
    &--active,
    &--contact {
      color: color('primary');
      @include font('display', 16px, $fw-semiBold);
      padding-left: 0.2rem;
    }

    // &:hover::after{

    // }
  }
}