@import 'abstracts/colors';

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;

  &__number {
    padding: 0.7rem;
    cursor: pointer;
    color: color('primary');
    opacity: 0.5;

    &--active {
      color: color('primary');
      opacity: 1;
    }
  }

  &__btn {
    color: color('primary');
    padding: 0.5rem;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
