<div [formGroup]="parentForm" class="form w-100">
    <div class="d-flex align-items-center">

        <div class="form__text-space mx-3">
            <p-checkbox [id]="controlName" [formControlName]="controlName" [binary]="true" [inputId]="controlName">
                <ng-template pTemplate="content">
                    {{ label }}
                </ng-template>
            </p-checkbox>
        </div>
        <div>
            <label [for]="controlName" class="label-text d-flex align-items-center">{{ label }}


            </label>
        </div>
    </div>

    <!-- Error Handling -->
    @if (control?.invalid && control?.touched) {
    <div>
        @if (control?.errors?.['required']) {
        <small class="errors-message">
            This field is required.
        </small>
        }

    </div>
    }
</div>