<form [formGroup]="userattrributeFormGroup" class="form-section">
    <div class="row align-items-end" formArrayName="magicUserAttributes">
        <div *ngFor="let attribute of userAttributes.controls; let i = index" class="col-md-6 col-12"
            [formGroupName]="i">
            <app-input-select [parentForm]="getuserAttributes(i)" controlName="attributeType"
                label="Choose UserAttribute" [options]="attributeOptions">
            </app-input-select>
            @if(getuserAttributes(i).get('attributeType')?.value?.value == 'string'){
            <app-data-type-text [groupName]="'dataTypeText'" [arrayName]="'magicUserAttributes'"
                [indexOfArray]="i"></app-data-type-text>
            }
            @if(getuserAttributes(i).get('attributeType')?.value?.value == 'number'){
            <app-data-type-number [groupName]="'dataTypeNumber'" [arrayName]="'magicUserAttributes'"
                [indexOfArray]="i"></app-data-type-number>
            }
    
            @if(getuserAttributes(i).get('attributeType')?.value?.value == 'date'){
            <app-data-type-date [groupName]="'dataTypeDate'" [arrayName]="'magicUserAttributes'"
                [indexOfArray]="i"></app-data-type-date>
            }
    
        </div>
    </div>
</form>