<div class="editor-container">
  <editor
    #editor
    [init]="editorConfig"
    [(ngModel)]="content"
    apiKey="m8d1o7bynx6hjjt5sf7vmizh4jy6xxy5a3qk828acsv6o4dz"
    height="300">
  </editor>
  @if(showDropdown){
    <div class="mention-dropdown">
      <ul>
        @for(placeholder of filteredPlaceholders; track placeholder;let i = $index){

          <li (click)="onPlaceholderClick(placeholder)">
            {{ placeholder.name }}
          </li>
        }
      </ul>
    </div>
  }
</div>
