<div [formGroup]="parentForm" class="form w-100">
    <div>
        <label [for]="controlName" class="label-text d-flex align-items-center">{{ label }}
            @if(control && parentForm.get(controlName)?.errors?.['required']){
            <p class="required-asterisk mb-0">*</p>
            }

        </label>
    </div>
    <div class="form__text-space w-100">
        <input pInputText [id]="controlName" [formControlName]="controlName" type="text" class="w-100" />
    </div>

    <!-- Error Handling -->
    @if (parentForm.invalid && parentForm.touched) {
    <div>
        @if (parentForm.get(controlName)?.errors?.['required']) {
        <small class="errors-message">
            {{label}} is required.
        </small>
        }
        @if (parentForm.get(controlName)?.errors?.['minlength']) {
        <small class="errors-message">
            Minimum {{miniMumValue}} characters required.
        </small>
        }
        @if (parentForm.get(controlName)?.errors?.['maxlength']) {
        <small class="errors-message">
            Maxmum {{maxMumValue}} characters required.
        </small>
        }
    </div>
    }

</div>